<div style="background: url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExenVtNGVzaG45dmR2ejg3dGgweXF5MjdyYmtqM25wZnExMzZsaTFiOCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xTiTnxpQ3ghPiB2Hp6/giphy.webp) repeat; color: #00ff00; padding: 2px; text-align: center;background-size: cover; text-shadow: 00 0 20px #ec4899">
    <h1>Learning Pandas for DataAnalysis Starthere</h1>
    
</div>

1. [`Colors`](https://rich.readthedocs.io/en/latest/appendix/colors.html?highlight=colors) _ list of standard colors that can be printed out 
2. [`Ascii Banne Generator`](https://manytools.org/hacker-tools/ascii-banner/) - Used this to generate nice banners below 
3. [`AsciiFlow`](https://asciiflow.com/#/) - Draw ASCII digrams you can then use this

<div style="background-color: #000502; color: #16a34a; padding: 10px; border-radius: 5px; font-size: 25px; text-align:center">
  <a class="anchor" id="toc" style="text-decoration: none;">Table of Contents</a>
</div>

- ### [Lesson Summary](#s0)
- ### [1-IntroPandasIntroPandas](#s1)
- ### [2-I/O](#s2)
- ### [3-DataFrameBsicsDataFrameBsics](#s3)
- ### [4-FilteringData](#s4)
- ### [5 - SummarizingData ](#s5)

In [18]:
# Prettify 
# Prettifyer code

# ------------------------------------------------------
from rich import print as rprint # For rprinting
from rich.pretty import pprint # For pretty printing
from rich import inspect # For inspect
from rich.console import Console # For console.print
from rich.markdown import Markdown # For markdown
from rich.panel import Panel # For Panel()
from rich import box # For Panel Boxes
from rich.prompt import Prompt # For Prompting 
from rich.style import Style # For styles colors
from rich.text import Text # For text Styles
console = Console() # Standard code to access console
from rich.traceback import install
install(show_locals=True)
# -------------------------------------------------------

# Lesson Summary <a class="anchor" id="s0"></a> [↩️TOC](#toc)

1. This notebook is for woking on [`THIS`](https://youtu.be/DkjCaAMBGWM?si=wIPJl3W1pjocA_n3)
2. Used for data wrangling and data manipulation.

In [19]:
# Current Date Time 
import datetime

current_date = datetime.datetime.now()
rprint(current_date.strftime("%A, %B %d, %Y"))

Monday, July 29, 2024

# 1.IntroPandas <a class="anchor" id="s1"></a> [↩️TOC](#toc)

# Work with pandas
- This will printout the pandas version 
- Printing both the python version and Pandas version 
- As of date of making this notebook the [`Pandas`](https://pandas.pydata.org/) version is - `2.2.2` - Same as the oen which this notebook uses

In [20]:
import pandas as pd 
import sys 

# Printing the python version
rprint(sys.version) 

# Printing the pandas version
rprint('Pandas Kag Version:- ',pd.__version__)

3.10.13 | packaged by conda-forge | (main, Dec 23 2023, 15:36:39) [GCC 12.3.0]

Pandas Kag Version:-  2.2.2

# 2.I/O <a class="anchor" id="s2"></a> [↩️TOC](#toc)

1. `pd.read_csv` - Most used option
2. Note the tutorial works with parquet files , so have to first get some parquet files and then continue 
3. [`Tutorial Notebook`](https://www.kaggle.com/code/lizhecheng/pandas-2-0-1-tutorial/notebook) - This is the tutorial notebook with the data set which is being used in this course. Will dl file , and ul to gh , then use remote load from addinput
- This above notebook actually is using kaggle datasets which have the parquet format 
4. Dataset being used
    1. (`inflight-emergency-situations`)[https://www.kaggle.com/datasets/ahmedeltom/inflight-emergency-situations-20182020]

- This above library was mentioned in the dataset to install

In [21]:
# Reading the dataset
df = pd.read_parquet('/kaggle/input/inflight-emergency-situations-20182020/trajectories.parquet')

In [22]:
type(df)

pandas.core.frame.DataFrame

Coversion of the parquet dataset to csv

# 2.DataFrameBsics <a class="anchor" id="s3"></a> [↩️TOC](#toc)

In [23]:
# Viw first 5 rows 
df.head()

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
0,2018-01-01 12:29:49+00:00,11300.0,ARG1511,ARG1511_20180101,309.885195,e06442,-31.449051,-63.963318,7700,130.441641,3008.000000
1,2018-01-01 12:29:50+00:00,11375.0,ARG1511,ARG1511_20180101,310.264709,e06442,-31.450453,-63.961432,7700,130.441641,3040.000000
2,2018-01-01 12:29:51+00:00,11450.0,ARG1511,ARG1511_20180101,310.644223,e06442,-31.451856,-63.959546,7700,130.441641,3072.000000
3,2018-01-01 12:29:52+00:00,11500.0,ARG1511,ARG1511_20180101,311.192793,e06442,-31.452843,-63.958193,7700,130.440361,3074.742857
4,2018-01-01 12:29:53+00:00,11550.0,ARG1511,ARG1511_20180101,311.741363,e06442,-31.453831,-63.956840,7700,130.439081,3077.485714

In [24]:
# settign the columns size 
pd.set_option('display.max_columns', 500)

In [25]:
df.head()

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
0,2018-01-01 12:29:49+00:00,11300.0,ARG1511,ARG1511_20180101,309.885195,e06442,-31.449051,-63.963318,7700,130.441641,3008.000000
1,2018-01-01 12:29:50+00:00,11375.0,ARG1511,ARG1511_20180101,310.264709,e06442,-31.450453,-63.961432,7700,130.441641,3040.000000
2,2018-01-01 12:29:51+00:00,11450.0,ARG1511,ARG1511_20180101,310.644223,e06442,-31.451856,-63.959546,7700,130.441641,3072.000000
3,2018-01-01 12:29:52+00:00,11500.0,ARG1511,ARG1511_20180101,311.192793,e06442,-31.452843,-63.958193,7700,130.440361,3074.742857
4,2018-01-01 12:29:53+00:00,11550.0,ARG1511,ARG1511_20180101,311.741363,e06442,-31.453831,-63.956840,7700,130.439081,3077.485714

 Viewing the first 20 columns

In [26]:
df.head(20)

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
0,2018-01-01 12:29:49+00:00,11300.0,ARG1511,ARG1511_20180101,309.885195,e06442,-31.449051,-63.963318,7700,130.441641,3008.000000
1,2018-01-01 12:29:50+00:00,11375.0,ARG1511,ARG1511_20180101,310.264709,e06442,-31.450453,-63.961432,7700,130.441641,3040.000000
2,2018-01-01 12:29:51+00:00,11450.0,ARG1511,ARG1511_20180101,310.644223,e06442,-31.451856,-63.959546,7700,130.441641,3072.000000
3,2018-01-01 12:29:52+00:00,11500.0,ARG1511,ARG1511_20180101,311.192793,e06442,-31.452843,-63.958193,7700,130.440361,3074.742857
4,2018-01-01 12:29:53+00:00,11550.0,ARG1511,ARG1511_20180101,311.741363,e06442,-31.453831,-63.956840,7700,130.439081,3077.485714
5,2018-01-01 12:29:54+00:00,11600.0,ARG1511,ARG1511_20180101,312.289932,e06442,-31.454818,-63.955487,7700,130.437801,3080.228571
6,2018-01-01 12:29:55+00:00,11650.0,ARG1511,ARG1511_20180101,312.838502,e06442,-31.455806,-63.954134,7700,130.436521,3082.971429
7,2018-01-01 12:29:56+00:00,11700.0,ARG1511,ARG1511_20180101,313.387072,e06442,-31.456794,-63.952781,7700,130.435240,3085.714286
8,2018-01-01 12:29:57+00:00,11750.0,ARG1511,ARG1511_20180101,313.935642,e06442,-31.457781,-63.951429,7700,130.433960,3088.457143
9,2018-01-01 12:29:58+00:00,11800.0,ARG1511,ARG1511_20180101,314.484211,e06442,-31.458769,-63.950076,7700,130.432680,3091.200000
10,2018-01-01 12:29:59+00:00,11850.0,ARG1511,ARG1511_20180101,315.032781,e06442,-31.459756,-63.948723,7700,130.431400,3093.942857
11,2018-01-01 12:30:00+00:00,11900.0,ARG1511,ARG1511_20180101,315.581351,e06442,-31.460744,-63.947370,7700,130.430120,3096.685714
12,2018-01-01 12:30:01+00:00,11950.0,ARG1511,ARG1511_20180101,316.129921,e06442,-31.461731,-63.946017,7700,130.428839,3099.428571
13,2018-01-01 12:30:02+00:00,12000.0,ARG1511,ARG1511_20180101,316.678491,e06442,-31.462719,-63.944664,7700,130.427559,3102.171429
14,2018-01-01 12:30:03+00:00,12050.0,ARG1511,ARG1511_20180101,317.227060,e06442,-31.463707,-63.943311,7700,130.426279,3104.914286
15,2018-01-01 12:30:04+00:00,12100.0,ARG1511,ARG1511_20180101,317.775630,e06442,-31.464694,-63.941958,7700,130.424999,3107.657143
16,2018-01-01 12:30:05+00:00,12150.0,ARG1511,ARG1511_20180101,318.324200,e06442,-31.465682,-63.940605,7700,130.423719,3110.400000
17,2018-01-01 12:30:06+00:00,12200.0,ARG1511,ARG1511_20180101,318.872770,e06442,-31.466669,-63.939253,7700,130.422439,3113.142857
18,2018-01-01 12:30:07+00:00,12250.0,ARG1511,ARG1511_20180101,319.421340,e06442,-31.467657,-63.937900,7700,130.421158,3115.885714
19,2018-01-01 12:30:08+00:00,12300.0,ARG1511,ARG1511_20180101,319.969909,e06442,-31.468644,-63.936547,7700,130.419878,3118.628571

Pulling the last 10 columns

In [27]:
df.tail(10)

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
4344349,2020-01-29 04:09:43+00:00,659.375000,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002629,-82.897304,2756,274.590543,-704.0
4344350,2020-01-29 04:09:44+00:00,658.333333,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002656,-82.897768,2756,274.590543,-704.0
4344351,2020-01-29 04:09:45+00:00,657.291667,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002683,-82.898231,2756,274.590543,-704.0
4344352,2020-01-29 04:09:46+00:00,656.250000,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002709,-82.898694,2756,274.590543,-704.0
4344353,2020-01-29 04:09:47+00:00,655.208333,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002736,-82.899158,2756,274.590543,-704.0
4344354,2020-01-29 04:09:48+00:00,654.166667,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002762,-82.899621,2756,274.590543,-704.0
4344355,2020-01-29 04:09:49+00:00,653.125000,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002789,-82.900084,2756,274.590543,-704.0
4344356,2020-01-29 04:09:50+00:00,652.083333,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002816,-82.900547,2756,274.590543,-704.0
4344357,2020-01-29 04:09:51+00:00,651.041667,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002842,-82.901011,2756,274.590543,-704.0
4344358,2020-01-29 04:09:52+00:00,650.000000,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002869,-82.901474,2756,274.590543,-704.0

Pulling a random sample from the rowns list 
- Note this will pull a random et

In [28]:
df.sample(5)

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
3636623,2019-10-15 12:13:56+00:00,38000.0,EZY58WD,EZY58WD_20191015,464.210758,4010ee,46.426804,4.947130,5726,333.600863,-64.0
1430356,2018-11-10 00:15:30+00:00,36975.0,VIR651Y,VIR651Y_20181109,456.232003,400f63,46.159756,1.304008,1142,172.189586,64.0
528158,2018-05-24 06:48:12+00:00,13375.0,VIV3709,VIV3709_20180524,422.354936,0d09c2,32.274170,-116.601581,1401,118.199899,1728.0
2405255,2019-04-29 19:28:31+00:00,26475.0,UAL895,UAL895_20190429,451.358669,aa92fa,43.602310,-88.084674,7700,355.552615,1408.0
726824,2018-06-22 17:29:15+00:00,7600.0,ACA885,ACA885_20180622,292.514704,c051e4,49.153391,1.740538,7700,141.523733,-2048.0

Setting a random state for pulling the same

In [29]:
df.sample(frac=0.0001)

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
3740606,2019-11-05 03:39:56+00:00,29475.0,SRR6498,SRR6498_20191105,370.611336,45ce4b,48.283097,8.321782,7700,148.797623,-1344.0
1546123,2018-12-06 05:41:09+00:00,9975.0,AFR765U,AFR765U_20181206,273.250564,392aeb,48.399421,3.700264,7700,333.716268,0.0
3969759,2019-12-03 02:03:54+00:00,37000.0,AAL2620,AAL2620_20191203,460.847733,acd481,36.349337,-89.982410,2351,47.726311,0.0
235881,2018-03-13 21:01:14+00:00,9350.0,EXS746,EXS746_20180313,308.638681,4070e7,55.607346,-3.329716,7700,18.317540,-576.0
1945588,2019-02-21 05:56:19+00:00,10250.0,FDX5392,FDX5392_20190221,297.900733,a841f5,49.253540,1.569707,7700,115.446807,-1664.0
...,...,...,...,...,...,...,...,...,...,...,...
2994295,2019-07-16 00:47:18+00:00,31825.0,SWA1165,SWA1165_20190715,457.550695,a97db2,30.962545,-99.686041,0744,101.727425,-960.0
690991,2018-06-14 05:08:04+00:00,22375.0,AFR228,AFR228_20180614,434.533858,3949f2,48.105377,0.500771,7700,54.554290,-1088.0
4289687,2020-01-24 17:11:01+00:00,2825.0,PIA709,PIA709_20200124,212.708537,760917,53.446717,-2.082071,7700,231.298124,-1216.0
808408,2018-07-07 17:44:38+00:00,10625.0,ASH5740,ASH5740_20180707,321.286199,a390e3,32.960148,-96.748464,2231,110.973493,1216.0
478666,2018-05-01 12:16:00+00:00,7075.0,FDX1414,FDX1414_20180501,218.805661,a02cb5,32.262097,-110.971107,1514,323.549077,0.0

For reporoducability using the `random_state=XX` ensures the same sample being produced everytime. This is for reproducability of the random data set

In [30]:
df.sample(10, random_state=69)

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
2463923,2019-05-09 22:28:16+00:00,3150.000000,TUI6YX,TUI6YX_20190509,166.508114,3c0ca0,49.005524,2.806514,7700,265.522120,-960.000000
2118286,2019-03-17 15:32:44+00:00,12450.000000,AAL163,AAL163_20190317,351.001121,acd5ad,33.644485,-118.304761,2454,90.163235,2432.000000
3876186,2019-11-21 13:55:23+00:00,12550.000000,SKW5639,SKW5639_20191121,317.165298,abb645,38.644272,-104.356265,2132,105.746712,2560.000000
31081,2018-01-08 03:59:14+00:00,32000.000000,DAL65,DAL65_20180108,413.707494,ab2855,34.367789,-114.634719,3575,257.129758,0.000000
1554593,2018-12-06 14:34:46+00:00,37000.000000,ABY1692,ABY1692_20181206,510.407239,8964da,23.104523,55.245051,1751,36.555582,-64.000000
628528,2018-06-05 07:08:42+00:00,36975.000000,AAL213,AAL213_20180605,467.646244,a3deca,11.747875,-66.879717,3655,145.890354,0.000000
1302600,2018-10-23 09:40:04+00:00,32000.000000,EVA011,EVA011_20181023,479.549375,8990d7,40.961435,-127.271930,7336,328.298570,0.000000
3179997,2019-08-13 08:50:05+00:00,37975.000000,RAM718D,RAM718D_20190813,483.698869,020027,42.208774,-1.228808,6474,51.969181,0.000000
780071,2018-06-30 09:44:43+00:00,34950.000000,DAL819,DAL819_20180630,468.670055,a3d3f0,34.472491,-95.946407,7256,81.904476,0.000000
2893199,2019-07-08 18:53:11+00:00,27616.666667,JIA5116,JIA5116_20190708,488.007319,a653f6,37.784871,-87.356074,7700,103.450049,682.666667

In [31]:
# View only columns 
df.columns

Index(['timestamp', 'altitude', 'callsign', 'flight_id', 'groundspeed',
       'icao24', 'latitude', 'longitude', 'squawk', 'track', 'vertical_rate'],
      dtype='object')

In [32]:
# View Index
df.index
# df2.index

RangeIndex(start=0, stop=4344359, step=1)

View information about the dataset,
- `verbose=True` - Gives more detailed information

In [33]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344359 entries, 0 to 4344358
Columns: 11 entries, timestamp to vertical_rate
dtypes: datetime64[us, UTC](1), float64(6), object(4)
memory usage: 364.6+ MB

## 2.1 DescriptiveStatistics <a class="anchor" id="s4"></a> [↩️TOC](#toc)

In [34]:
# gettingg descriptive statistics 

df.describe()

,altitude,groundspeed,latitude,longitude,track,vertical_rate
count,4.344359e+06,4.307312e+06,4.344359e+06,4.344359e+06,4.307312e+06,4.307312e+06
mean,2.653439e+04,3.944624e+02,4.010783e+01,-4.393507e+01,1.927143e+02,-3.354702e+01
std,1.212769e+04,1.285338e+02,1.492686e+01,5.537757e+01,1.062650e+02,1.772641e+03
min,-5.750000e+02,2.828425e+00,-3.866559e+01,-1.565582e+02,0.000000e+00,-2.302500e+05
25%,1.647500e+04,3.398423e+02,3.549571e+01,-9.158867e+01,9.294816e+01,-6.400000e+01
50%,3.200000e+04,4.186379e+02,4.220419e+01,-6.188072e+01,2.094500e+02,0.000000e+00
75%,3.600000e+04,4.637420e+02,4.920561e+01,1.862626e+00,2.851302e+02,0.000000e+00
max,1.155000e+05,4.535941e+03,6.682288e+01,1.764965e+02,3.600000e+02,1.235200e+04

## Describing a non number column
- Gives some helpful stats

In [36]:
# Running describe on non numeric values 
df[['callsign']].describe()

       callsign
count   4344359
unique      823
top     ASR172B
freq      22825

Shape - This gives the rows and columns

In [38]:
# Getting shape of data 
df.shape

(4344359, 11)

In [41]:
df.shape, len(df)

((4344359, 11), 4344359)

## Subsetting a dataframe
- This is extracting rows

In [43]:
df_subset = df[['callsign']]

In [47]:
df_subset.describe()

       callsign
count   4344359
unique      823
top     ASR172B
freq      22825

In [48]:
df_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344359 entries, 0 to 4344358
Data columns (total 1 columns):
 #   Column    Dtype
---  ------    -----
 0   callsign  object
dtypes: object(1)
memory usage: 33.1+ MB

In [42]:
df[['callsign', 'flight_id']]

        callsign         flight_id
0        ARG1511  ARG1511_20180101
1        ARG1511  ARG1511_20180101
2        ARG1511  ARG1511_20180101
3        ARG1511  ARG1511_20180101
4        ARG1511  ARG1511_20180101
...          ...               ...
4344354  ASH6299  ASH6299_20200129
4344355  ASH6299  ASH6299_20200129
4344356  ASH6299  ASH6299_20200129
4344357  ASH6299  ASH6299_20200129
4344358  ASH6299  ASH6299_20200129

[4344359 rows x 2 columns]

# Getting the columns

In [51]:
df[df.columns[:2]]

                        timestamp      altitude
0       2018-01-01 12:29:49+00:00  11300.000000
1       2018-01-01 12:29:50+00:00  11375.000000
2       2018-01-01 12:29:51+00:00  11450.000000
3       2018-01-01 12:29:52+00:00  11500.000000
4       2018-01-01 12:29:53+00:00  11550.000000
...                           ...           ...
4344354 2020-01-29 04:09:48+00:00    654.166667
4344355 2020-01-29 04:09:49+00:00    653.125000
4344356 2020-01-29 04:09:50+00:00    652.083333
4344357 2020-01-29 04:09:51+00:00    651.041667
4344358 2020-01-29 04:09:52+00:00    650.000000

[4344359 rows x 2 columns]

The following will just get you the nams of the columsn , if you want to subset you have to use the above syntax

In [52]:
df.columns[1:3]

Index(['altitude', 'callsign'], dtype='object')

In [55]:
# getting the last 5 columns 

df[df.columns[-2:]]

              track  vertical_rate
0        130.441641    3008.000000
1        130.441641    3040.000000
2        130.441641    3072.000000
3        130.440361    3074.742857
4        130.439081    3077.485714
...             ...            ...
4344354  274.590543    -704.000000
4344355  274.590543    -704.000000
4344356  274.590543    -704.000000
4344357  274.590543    -704.000000
4344358  274.590543    -704.000000

[4344359 rows x 2 columns]

## List comprehension 
- this is for getting those columns with specific names

In [57]:
# List comprehension 
df[[c for c in df.columns if 'sign' in c]]

        callsign
0        ARG1511
1        ARG1511
2        ARG1511
3        ARG1511
4        ARG1511
...          ...
4344354  ASH6299
4344355  ASH6299
4344356  ASH6299
4344357  ASH6299
4344358  ASH6299

[4344359 rows x 1 columns]

## Seleting only integers with 

```py 
df.select_dtypes('int')
```

Pandas recognizes several data type categories, including:

1. 'number': All numeric types (int, float, etc.)
2. 'integer': Integer types (int64, int32, etc.)
3. 'floating': Floating-point types (float64, float32, etc.)
4. 'object': String and mixed types (usually strings)
5. 'bool': Boolean types
6. 'datetime': Datetime types
7. 'timedelta': Timedelta types
8. 'category': Categorical types

In [60]:
df.select_dtypes('floating')

,altitude,groundspeed,latitude,longitude,track,vertical_rate
0,11300.000000,309.885195,-31.449051,-63.963318,130.441641,3008.000000
1,11375.000000,310.264709,-31.450453,-63.961432,130.441641,3040.000000
2,11450.000000,310.644223,-31.451856,-63.959546,130.441641,3072.000000
3,11500.000000,311.192793,-31.452843,-63.958193,130.440361,3074.742857
4,11550.000000,311.741363,-31.453831,-63.956840,130.439081,3077.485714
...,...,...,...,...,...,...
4344354,654.166667,137.440778,40.002762,-82.899621,274.590543,-704.000000
4344355,653.125000,137.440778,40.002789,-82.900084,274.590543,-704.000000
4344356,652.083333,137.440778,40.002816,-82.900547,274.590543,-704.000000
4344357,651.041667,137.440778,40.002842,-82.901011,274.590543,-704.000000
4344358,650.000000,137.440778,40.002869,-82.901474,274.590543,-704.000000

Selecting Column  - Series of that column

In [61]:
df['callsign']

0          ARG1511
1          ARG1511
2          ARG1511
3          ARG1511
4          ARG1511
            ...
4344354    ASH6299
4344355    ASH6299
4344356    ASH6299
4344357    ASH6299
4344358    ASH6299
Name: callsign, Length: 4344359, dtype: object

In [62]:
# This will give a data fram 
df[['callsign']]

        callsign
0        ARG1511
1        ARG1511
2        ARG1511
3        ARG1511
4        ARG1511
...          ...
4344354  ASH6299
4344355  ASH6299
4344356  ASH6299
4344357  ASH6299
4344358  ASH6299

[4344359 rows x 1 columns]

# 4 - FilteringData <a class="anchor" id="s4"></a> [↩️TOC](#toc)

1. Accessing data in data frame based on their location 

`df.loc[]` = Uses Names
`df.iloc[]` = Uses location

In [64]:
df.head()

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
0,2018-01-01 12:29:49+00:00,11300.0,ARG1511,ARG1511_20180101,309.885195,e06442,-31.449051,-63.963318,7700,130.441641,3008.000000
1,2018-01-01 12:29:50+00:00,11375.0,ARG1511,ARG1511_20180101,310.264709,e06442,-31.450453,-63.961432,7700,130.441641,3040.000000
2,2018-01-01 12:29:51+00:00,11450.0,ARG1511,ARG1511_20180101,310.644223,e06442,-31.451856,-63.959546,7700,130.441641,3072.000000
3,2018-01-01 12:29:52+00:00,11500.0,ARG1511,ARG1511_20180101,311.192793,e06442,-31.452843,-63.958193,7700,130.440361,3074.742857
4,2018-01-01 12:29:53+00:00,11550.0,ARG1511,ARG1511_20180101,311.741363,e06442,-31.453831,-63.956840,7700,130.439081,3077.485714

In [68]:
# Subsetting column and row 
df.iloc[:5, :3]

                  timestamp  altitude callsign
0 2018-01-01 12:29:49+00:00   11300.0  ARG1511
1 2018-01-01 12:29:50+00:00   11375.0  ARG1511
2 2018-01-01 12:29:51+00:00   11450.0  ARG1511
3 2018-01-01 12:29:52+00:00   11500.0  ARG1511
4 2018-01-01 12:29:53+00:00   11550.0  ARG1511

In [70]:
# Extracting a specific value 
df.iloc[0,8]

'7700'

In [72]:
# Filtering to the row - meaning pulling one row out - here it is row3
df.iloc[3]

timestamp        2018-01-01 12:29:52+00:00
altitude                           11500.0
callsign                           ARG1511
flight_id                 ARG1511_20180101
groundspeed                     311.192793
icao24                              e06442
latitude                        -31.452843
longitude                       -63.958193
squawk                                7700
track                           130.440361
vertical_rate                  3074.742857
Name: 3, dtype: object

In [74]:
df.iloc[0] # When you pull row 0 you will get he first row

timestamp        2018-01-01 12:29:49+00:00
altitude                           11300.0
callsign                           ARG1511
flight_id                 ARG1511_20180101
groundspeed                     309.885195
icao24                              e06442
latitude                        -31.449051
longitude                       -63.963318
squawk                                7700
track                           130.441641
vertical_rate                       3008.0
Name: 0, dtype: object

In [76]:
# Pulling row as a data frame
df.iloc[[2]]

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
2,2018-01-01 12:29:51+00:00,11450.0,ARG1511,ARG1511_20180101,310.644223,e06442,-31.451856,-63.959546,7700,130.441641,3072.0

In [78]:
# Filter only 1st column 
df.iloc[:, 1]

0          11300.000000
1          11375.000000
2          11450.000000
3          11500.000000
4          11550.000000
               ...
4344354      654.166667
4344355      653.125000
4344356      652.083333
4344357      651.041667
4344358      650.000000
Name: altitude, Length: 4344359, dtype: float64

In [80]:
# Filter 1st and 2nd column  
df.iloc[:, [1,2]]

             altitude callsign
0        11300.000000  ARG1511
1        11375.000000  ARG1511
2        11450.000000  ARG1511
3        11500.000000  ARG1511
4        11550.000000  ARG1511
...               ...      ...
4344354    654.166667  ASH6299
4344355    653.125000  ASH6299
4344356    652.083333  ASH6299
4344357    651.041667  ASH6299
4344358    650.000000  ASH6299

[4344359 rows x 2 columns]

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344359 entries, 0 to 4344358
Data columns (total 11 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      datetime64[us, UTC]
 1   altitude       float64
 2   callsign       object
 3   flight_id      object
 4   groundspeed    float64
 5   icao24         object
 6   latitude       float64
 7   longitude      float64
 8   squawk         object
 9   track          float64
 10  vertical_rate  float64
dtypes: datetime64[us, UTC](1), float64(6), object(4)
memory usage: 364.6+ MB

In [88]:
# Filter 1st and 2nd column  
df.loc[:, ['callsign', 'track']]

        callsign       track
0        ARG1511  130.441641
1        ARG1511  130.441641
2        ARG1511  130.441641
3        ARG1511  130.440361
4        ARG1511  130.439081
...          ...         ...
4344354  ASH6299  274.590543
4344355  ASH6299  274.590543
4344356  ASH6299  274.590543
4344357  ASH6299  274.590543
4344358  ASH6299  274.590543

[4344359 rows x 2 columns]

Using `df.loc` to get a boolean on the existence of a condition

In [90]:
# Using loc - filer on boolean expression 
df[['callsign']] == 'ARG1511'

         callsign
0            True
1            True
2            True
3            True
4            True
...           ...
4344354     False
4344355     False
4344356     False
4344357     False
4344358     False

[4344359 rows x 1 columns]

In [95]:
# Using boolen query  - using double condition
df.query('(track > 130) and (altitude < 11000)')

,timestamp,altitude,callsign,flight_id,groundspeed,icao24,latitude,longitude,squawk,track,vertical_rate
2657,2018-01-01 13:14:46+00:00,2575.000000,ARG1511,ARG1511_20180101,197.496665,e06442,-34.459488,-58.575626,3370,132.332234,-192.0
2658,2018-01-01 13:14:47+00:00,2575.000000,ARG1511,ARG1511_20180101,197.496665,e06442,-34.460333,-58.574474,3370,132.332234,-192.0
2659,2018-01-01 13:14:48+00:00,2575.000000,ARG1511,ARG1511_20180101,197.496665,e06442,-34.461179,-58.573322,3370,132.332234,-192.0
2660,2018-01-01 13:14:49+00:00,2575.000000,ARG1511,ARG1511_20180101,193.767735,e06442,-34.461502,-58.572543,3370,135.836375,-192.0
2661,2018-01-01 13:14:50+00:00,2575.000000,ARG1511,ARG1511_20180101,193.144856,e06442,-34.462389,-58.571835,3370,136.888188,-192.0
...,...,...,...,...,...,...,...,...,...,...,...
4344354,2020-01-29 04:09:48+00:00,654.166667,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002762,-82.899621,2756,274.590543,-704.0
4344355,2020-01-29 04:09:49+00:00,653.125000,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002789,-82.900084,2756,274.590543,-704.0
4344356,2020-01-29 04:09:50+00:00,652.083333,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002816,-82.900547,2756,274.590543,-704.0
4344357,2020-01-29 04:09:51+00:00,651.041667,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002842,-82.901011,2756,274.590543,-704.0
4344358,2020-01-29 04:09:52+00:00,650.000000,ASH6299,ASH6299_20200129,137.440778,ac2bb8,40.002869,-82.901474,2756,274.590543,-704.0

# 5 - SummarizingData <a class="anchor" id="s5"></a> [↩️TOC](#toc)